*{
    margin: 0;
    padding: 0;
}

/*Registration Page Design End*/
.reg-image{
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    background-color: #7ABA78;
}
.reg-content-box{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
.reg-content{
    padding-right: 30px;
    width: 500px;

}
.reg-content h2{
    font-size: 32px;
    font-weight: 700;
    color: #11175D;
    font-family: "Nunito", sans-serif;
}
.paragraph{
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    font-family: "Nunito", sans-serif;
    padding-top: 13px;
    padding-bottom: 39px;
}

.para2{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #03014C;
    padding-top: 35px;
    margin-left: 48px;
}

.reg-content a{
  text-decoration: none;
  color: #EA6C00;
}

.regEyeIcon{
    position: absolute;
    top: 19px;
    left: 270px;
}
.regPasswordField{
    position: relative;
}
.errorMessage{
    color: red;
    font-size: 15px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    padding-bottom: 5px;
}

/*Registration Page Design End*/

/*Login Page Design Start*/

.log-image{
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    background-color: #7ABA78;
}
.loginType{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 422px;
    height: 70px;
    margin-top: 35px;
    column-gap: 10px;
    border: 1px solid #5F34F5;
    border-radius: 9px;
    cursor: pointer;
}
.loginType p{
    margin-left: 0px;
    padding: 0px;
    font-size: 21px;
    color: #03014C;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.logEyeIcon{
    position: absolute;
    top: 19px;
    left: 390px;
}
.logPasswordField{
    position: relative;
}
.log-para2{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #03014C;
    padding-top: 35px;
    margin-left: 118px;
}

/*Login Page Design End*/
